/********************************

  Checkbox Component

*********************************/

.CheckboxIcon {
  @include make-col-ready();
  @include make-col(6);

  margin-bottom: .75rem;

  @include media-breakpoint-up(sm) {
    @include make-col(4)
  }

  display: flex;
  flex: 1 auto;
}

.CheckboxIcon__label {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  border: 1px solid $grey-light;
}

.CheckboxIcon__label-checked {
  border: 1px solid $primary;
}

.CheckboxIcon__title {
  font-size: 0.65rem;
  text-align: center;
  order: 2;
}

.CheckboxIcon__image {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  order: 1;
}



div .CheckboxIcon:nth-last-child(-n+2) {
  margin-bottom: 0;
}

@include media-breakpoint-up(sm) {
  div .CheckboxIcon:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
