/********************************

  Counter Component

*********************************/
.Counter {
  @include make-col-ready();
  @include make-col(12);

  display: flex;
  margin-bottom: 0.75rem;
  text-align: center;
}

.Counter__button {
  @extend .btn;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: $red !important;
  background-color: #fff;
  border: 1px solid $grey-light;
  border-bottom: 2px solid $grey-light;
  border-radius: 0;
}

.Counter__label {
  flex: 1 auto;
  padding-top: 10px;
  font-size: 0.75rem;
  font-weight: 700;
  border-top: 1px solid $grey-light;
  border-bottom: 2px solid $grey-light;
}
