.Perks__vertical {
  @include make-row();
}

.Perks__vertical-box {
  @include make-col-ready();
  @include make-col(12);

  display: flex;
}

.Perks__vertical h2 {
  width: 100%;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.Perks__vertical p {
  width: 100%;
  font-size: 0.85rem;
}

.Perks__vertical img {
  width: 50px;
  margin-right: 20px;
  align-self: flex-start;
}
