.Footer {
  padding: 4rem 0 1.5rem;
  font-size: 0.6rem;
  background-color: $divider-bg-color;
}

.FooterNav__container {
  @include make-container();
  @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

  text-transform: uppercase;
}

.FooterNav {
  @include make-row();
}

.FooterNav__col {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }

  text-align: center;
  list-style: none;
}

.FooterNav__title {
  margin-bottom: 1.5rem;
  color: $grey-dark;
}

.FooterNav__item {
  margin-bottom: 1rem;
  color: $black;
}

.FooterNav__link {
  color: $black;
}

.Footer__Copyright {
  @include make-row();
}

.Footer__Copyright > p {
  width: 100%;
  text-align: center;
}

.Footer__PolicyNav {
  @include make-row();
}

.Footer__PolicyNav .FooterNav__col {
  @include make-col(12);

  display: flex;
  margin: 0;
  justify-content: center;
}

.Footer__PolicyNav .FooterNav__item {
  margin: 0;
  padding: 0 20px;
}
