.Header__container--border {
  border-bottom: 1px solid $grey-light;
  box-shadow: 0 2px 1px lighten($grey-light, 25%);
}

.Header__container {
  @include make-container();
  @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
}

.Header {
  @include make-row();

  a {
    color: $grey-dark;
  }

  a:hover {
    color: $link-hover-color
  }
}

.Header__logo {
  @include make-col-ready();
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(4);
  }
}

.Header__logo .Logo {
  width: 160px;
  margin: 0.5rem auto;

  img {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    margin: 0.5rem auto 0.5rem 0;
  }
}

.Header__content {
  @include make-col-ready();
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(8);
  }
  display: flex;
  justify-content: flex-end;
}

.HeaderNavigation {
  width: 100%;
  padding: 0;
  margin: 0 auto 0.5rem;
  @include media-breakpoint-up(sm) {
    margin-bottom: .5rem;
  }
}

.HeaderNavigation .navbar-nav {
  text-align: center;
}

.navbar-toggler {
  position: absolute;
  right: 0px;
  top: -54px;
  border: 1px solid $grey-dark;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#939598' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.MyAccountLink {
  display: flex;
  padding: 0 20px 0 0;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.navbar-nav .MyAccountLink a {
  display: inline-block;
  margin: 0 auto;
  padding-left: 30px !important;
  background-image: url('/dist/images/myaccount.png');
  background-repeat: no-repeat;
  background-position-y: center;
}

.ContactUsButton {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    @include media-breakpoint-up(md) {
      margin-left: 30px;
    }
  }
}
