/********************************

  Book Component

*********************************/
.Book__StepTitle {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 4px solid $grey-light;
}

.Book__StepTitle h1 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  color: $grey-dark;
}

.Book__content {
  margin-top: -13px;
  background-color: $grey-lighter;
}

.Book__container {
  @include make-container();
  @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

  padding-top: 13px;
}

.Book__row {
  @include make-row();
}

.BookingForm,
.ContactForm,
.ScheduleForm,
.CheckoutForm {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(7);
  }

  margin-bottom: 20px;
}

.ContactForm,
.ScheduleForm,
.CheckoutForm {
  margin-top: 40px;
}

/********************************

  Booking Form Section

*********************************/
.BookingForm {
}

.BookingForm-form_bg {
  @include make-col-ready();

  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid $grey-light;
}

.BookingForm-section_desc {
  margin-top: -1rem;
  text-align: center;
}

.BookingForm-label {
  margin-bottom: 1rem;
}

.BookingForm-label_text {
  display: block;
  text-transform: uppercase;
}

.BookingForm-input {
  @extend .form-control;
}

.BookingForm-input_desc {
  margin: 0;
}

.BookingForm-section {
  @include make-row();

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $grey-light;
}

.BookingForm-section_title {
  @include make-col-ready();
  @include make-col(12);

  margin-bottom: 1.25rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.BookingForm-form_bg .BookingForm-section:nth-last-child(-n+2) {
  border-bottom: none;
}

.BookingForm-section span,
.BookingForm-section p {
  font-size: 0.75rem;
}

.BookingForm-datepicker > div {
  width: 100%;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.BookingForm-btn {
  display: flex;
  align-items: center;
}

.BookingForm-section .Counter:last-child {
  margin-bottom: 0;
}

.BookingForm-check_text {
  margin-left: 10px;
}

/********************************

  ProgressBar Component

*********************************/
.ProgressBar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  max-width: 600px;
  margin: 0 auto;
  justify-content: space-evenly;
}

.ProgressBar-Step {
  width: 30px;
  height: 30px;
  margin-top: -17px;
  color: $grey-dark;
  text-align: center;
  background-color: white;
  border: 1px solid $grey-light;
  border-radius: 30px;
}

.ProgressBar-Step.current {
  color: $white;
  background-color: $tertiary;
  border: 1px solid $white;
}

.ProgressBar-Step span {
  display: block;
  margin-top: 2px;
}

/********************************

  FormSelector Component

*********************************/

.FormSelector {
  @include make-row();
  margin: .75rem 0;
}

.FormSelector__col {
  @include make-col-ready();
  @include make-col(6);

  padding: 0;
  margin: 0;
}

.FormSelector__title {
  position: relative;
  height: 100%;
  font-size: .85rem;
  text-align: center;
  text-transform: uppercase;
  color: $grey-dark;
}

.FormSelector__title--active {
  color: $body-color;
}

.FormSelector__title--active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid $tertiary;
  left: 0;
  bottom: -16px;
  z-index: 1;
}

/********************************

  Dropdown Component

*********************************/

.Dropdown {
  @include make-col-ready();
  @include make-col(12);

  margin-bottom: 0.75rem;

  @include media-breakpoint-up(sm) {
    @include make-col(6);
    
    margin-bottom: 0;
  }

  font-size: 0.75rem;
}

.Dropdown__label {
  display: flex;
  flex: 0 0 auto;
  margin: 0;
}

.Dropdown__text {
  flex: 1 auto;
}

.Dropdown__select {
  flex: 1 auto;
}

/********************************

  StepController Component

*********************************/

.StepController {
  @include make-col-ready();
  @include make-col(12);

  text-align: center;
}

/********************************

  FrewSelector Component

*********************************/

.BookingForm-FreqSelector {
  @include make-col-ready();
  @include make-col(12);
  
  margin-bottom: 1rem;
}

.FreqSelector {
  @include make-row();
}

.FreqSelection {
  @include make-col-ready();
  @include make-col(6);

  @include media-breakpoint-up(sm) {
    @include make-col(3);
  }

  display: flex;
}

.FreqSelection__box {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid $grey-light;
  transition: all 0.3s ease;
}

.FreqSelection__box-selected {
  border: 2px solid $primary;
}

.FreqSelection__savings {
  color: $primary;
}

/********************************

  BookingForm-Sidebar Component

*********************************/
.BookingForm-SavingsDisplay {
  @include make-col-ready();
  @include make-col(12);
}

.SavingsDisplay {
  @include make-row();

  margin-bottom: 20px;
  font-weight: 700;
}

.SavingsDisplay__text {
  @include make-col-ready();
  @include make-col(8);

  margin-bottom: 10px
}

.SavingsDisplay__numbers {
  @include make-col-ready();
  @include make-col(4);

  margin-bottom: 10px;
  text-align: right;
}

/********************************

  CouponCode Component

*********************************/

.CouponCode {
  @extend .input-group;
}

/********************************

  CheckoutForm Component

*********************************/

.CheckoutForm-cc_icons img {
  width: 25%;
}

.StripeElement {
  padding-top: 10px;
  padding-bottom: 9px;
}

.StripeElement--focus {
  color: #495057;
  background-color: #fff;
  border-color: #b4d487;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(119, 161, 58, 0.25)
}

/********************************

  BookingForm-Sidebar Component

*********************************/
.Book__Sidebar {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(5);
  }

  margin-top: 40px;
  margin-bottom: 40px;
}

.Book__Sidebar > div,
.Book__Sidebar > section {
  margin-bottom: 20px;
}

.Book__Sidebar > div:last-child,
.Book__Sidebar > section:last-child {
  margin-bottom: 0;
}

.Book__Sidebar .Testimonials {
  text-align: center;
}

.Book__Sidebar .Testimonials p {
  font-size: 0.75rem;
}

/********************************

  CheckoutWidget Component

*********************************/
.CheckoutWidget__title {
  text-align: center;
  font-weight: 500;
}

.CheckoutWidget__row {
  @include make-row;

  margin-bottom: 10px;
}

.CheckoutWidget__text {
  @include make-col-ready();
  @include make-col(8);
}

.CheckoutWidget__amount {
  @include make-col-ready();
  @include make-col(4);

  text-align: right;
}
