.Homepage-HeroImage {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  height: 100%;
  background-image: url('/dist/images/hero-homepage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.HeroImage-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
  z-index: 2;
}

.HeroImage-content {
  @include make-container();
  @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  z-index: 3;
}

.HeroImage-content section {
  margin: 0 auto 64px;
  text-align: center;
  align-items: center;
  
  @include media-breakpoint-up(sm) {
    max-width: 75%;
  }

  @include media-breakpoint-up(md) {
    max-width: 55%;
  }

  @include media-breakpoint-up(lg) {
    max-width: 45%;
  }
}

.HeroImage-content h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}

.HeroImage-content p {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.HeroImage-content button {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.15rem;
}

.Homepage-Services {
  @include make-container();
  @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

  padding-top: $homepage-gutter-height;
  padding-bottom: $homepage-gutter-height;
}

.HomepageServices {
  @include make-row();
}

.HomepageServices-box {
  @include make-col-ready();
  @include make-col(12);

  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: baseline;
  text-align: center;

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
}

.HomepageServices h2 {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  order: 2;
}

.HomepageServices p {
  width: 100%;
  font-size: 0.85rem;
  order: 3;
}

.HomepageServices img {
  max-width: 75%;
  height: auto;
  margin: 0 auto;
  order: 1;
}

.Homepage-Testimonials__bg {
  background-color: $divider-bg-color;

}

.Homepage-Testimonials {
  @include make-container();
  @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  padding-top: $homepage-gutter-height;
  padding-bottom: $homepage-gutter-height;
}

.Testimonials-image {
  display: none;
  width: 40%;
  height: auto;
  padding-right: 40px;
  align-self: center;

  @include media-breakpoint-up(md) {
    display: inherit;
  }
}

.Homepage-MeetThePros {
  @include make-container();
  @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

  padding-top: $homepage-gutter-height;
  padding-bottom: $homepage-gutter-height;
}

.Homepage-MeetThePros__title {
  text-align: center;
}

.MeetThePros {
  @include make-row();
}

.MeetThePros-Pro {
  @include make-col-ready();
  @include make-col(12);

  text-align: center;

  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
}

.MeetThePros-Pro img {
  width: 75%;
  height: auto;
}

.MeetThePros-Pro p {
  margin: 0;
}