@import '~bootstrap/scss/functions';

$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;


$primary: #77C22F;
$secondary: #23527c;
$tertiary: #53c8d5;
$grey-dark: #939598;
$grey-light: #d0cfcf;
$grey-lighter: #f4f4f4;

$divider-bg-color: #ededed;

$link-hover-color: $secondary;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 600px,
  md: 944px,
  lg: 1140px,
  xl: 1141px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-gutter-width: 40px;

$homepage-gutter-height: 2.5rem;

$headings-font-weight: 700;
